/* Estilos generales */
body {
  overflow-y: hidden; /* Ocultar barra de desplazamiento vertical */
}

/* Estilos para el contenedor del registro */
.register-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Roboto', sans-serif; /* Cambié la fuente a 'Roboto' */
  position: relative;
  z-index: 1;
  overflow: hidden;
  background: linear-gradient(135deg, #00bcd4, #004080, #8e44ad);
  animation: changeGradient 15s linear infinite;
}

@keyframes changeGradient {
  0%, 100% {
    background: linear-gradient(135deg, #00bcd4, #004080, #8e44ad);
  }
  25%, 50% {
    background: linear-gradient(135deg, #3498db, #2c3e50, #e74c3c);
  }
  75% {
    background: linear-gradient(135deg, #3498db, #a9cce3, #f5b7b1);

  }
}

/* Estilos para el formulario de registro */
.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  background-color: #fff;
  padding: 0px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Estilos para los campos de entrada */
.register-form input[type="email"],
.register-form input[type="password"] {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: border-color 0.3s, background-color 0.3s;
}

/* Estilos para los botones y enlaces */
.register-button,
.social-login-button,
.login-link {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.register-button {
  margin-bottom: 20px;
  background-color: #5abd94; /* Color de fondo inicial (verde) */
}

.social-login-button {
  background-color: #fff;
  color: #000;
  border: 1px solid #ddd;
}

/* Estilos para enlaces y texto adicional */
.login-link {
  color: #888888;
}

.register-button:hover,
.social-login-button:hover,
.login-link:hover {
  background-color: #8257a6; /* Color de fondo al pasar el mouse (hover) */
  color: #fff;
  text-decoration: none;

}

.or-divider {
  margin: 15px 0;
  font-size: 14px;
  color: #888;
}

.social-login-logo {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.register-form input[type="email"]:focus,
.register-form input[type="password"]:focus {
  border-color: #3498db;
  outline: none;
}

.register-form input[type="email"]:valid,
.register-form input[type="password"]:valid {
  border-color: #28a745;
}

.register-form input[type="email"]:invalid,
.register-form input[type="password"]:invalid {
  border-color: #dc3545;
}

#errorEmail,
#errorPasswordRegister {
  font-size: 12px;
  font-family: 'Arial', sans-serif;
  color: red; /* Cambia el color según tus preferencias */
  margin-top: -5px; /* Ajusta según sea necesario para alinear con el campo de entrada */
}


