/* Estilos generales */
body {
  overflow-y: hidden; /* Ocultar barra de desplazamiento vertical */
}

.register-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to right, #F3F1BA, #A1AFFF);
  font-family: Arial, sans-serif;
}

.register-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.register-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra para el formulario */
}

.left-column {
  flex: 1; /* La columna izquierda toma todo el espacio disponible */
  margin-right: 20px; /* Espacio entre las columnas */
}

.right-column {
  flex: 1;
  display: flex; /* Cambio a flex para centrar elementos internos */
  flex-direction: column; /* Cambio a columna para alinear verticalmente */
  justify-content: center; /* Centrar verticalmente */
  align-items: center; /* Centrar horizontalmente */
}

.register-form input[type="email"],
.register-form input[type="password"] {
  width: 100%; /* Ancho completo */
  padding: 10px;
  margin-bottom: 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s, background-color 0.3s;
}

.register-button,
.forgot-password-link,
.login-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  background-color: #007bff; /* Cambia el color de fondo */
  color: #fff; /* Cambia el color del texto */
  border: none; /* Elimina el borde */
}

/* Modifica el margen inferior del botón de registro */
.register-button {
  margin-bottom: 30px;
}

.or-divider {
  margin: 15px 0;
  font-size: 14px;
  color: #888;
}

.social-login-logo {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

/* Estilos adicionales */
.register-form .form-group {
  position: relative;
}

.register-form .form-group .feedback {
  position: absolute;
  bottom: -20px;
  left: 0;
  font-size: 14px;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s;
}

.register-form input[type="email"]:focus,
.register-form input[type="password"]:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px #007bff;
}

.register-form input[type="email"]:focus + .feedback,
.register-form input[type="password"]:focus + .feedback {
  opacity: 1;
}

.register-form input[type="email"]:valid,
.register-form input[type="password"]:valid {
  border-color: #28a745;
}

.register-form input[type="email"]:valid + .feedback,
.register-form input[type="password"]:valid + .feedback {
  color: #28a745;
}

.register-form input[type="email"]:invalid,
.register-form input[type="password"]:invalid {
  border-color: #dc3545;
}

.register-form input[type="email"]:invalid + .feedback,
.register-form input[type="password"]:invalid + .feedback {
  color: #dc3545;
}

#recaptchaContainer {
  margin-top: 20px;
}

/* Estilos para el contenedor del logotipo */
.logo-container {
  position: absolute;
  top: 10px;
  left: 90px;
  display: flex;
  align-items: center;
}

/* Estilos para la imagen del logotipo */
.logo-image {
  width: 200px;
  height: auto;
}

/* Estilos para el pie de página */
footer {
  margin-top: 20px;
  padding: 10px;
  background-color: #f5f5f5;
  text-align: center;
}

footer p {
  margin: 5px;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 576px) {
  .register-container {
    padding: 0 20px;
  }
}
