/* Estilo para las notificaciones y mensaje "Copiado" */
.notification,
.copied-message {
  /* Ubicación en la esquina inferior derecha */
  position: fixed;
  bottom: 50px;
  right: 60px;
  /* Estilos comunes */
  background-color: #000;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  z-index: 2;
  width: auto; /* Ancho automático para adaptarse al contenido */
  max-width: 300px; /* Ancho máximo para evitar mensajes extremadamente anchos */
}
