@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-900 text-gray-100;
  --primary-color: #0d90f3;
  font-family: 'Roboto', sans-serif; /* Utiliza una fuente complementaria */
}

input[type="checkbox"] {
  @apply appearance-none outline-none w-4 h-4 rounded bg-gray-700 transition-all duration-300 checked:bg-primary;
}

.check-overlay {
  @apply relative;
}

.check-overlay::after {
  @apply bg-center bg-no-repeat z-10 w-full h-full absolute top-0 left-0;
  content: "";
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}

::-webkit-scrollbar {
  @apply w-2.5 h-2.5;
}
::-webkit-scrollbar-track {
  @apply bg-gray-800;
}
::-webkit-scrollbar-thumb {
  @apply bg-gray-600 rounded-xl border border-gray-700;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-500;
}
::-webkit-scrollbar-button {
  @apply hidden;
}

/* Estilos de la interfaz de usuario */

.container {
  @apply mx-auto p-4;
  max-width: 800px; /* Limita el ancho del contenedor */
}

.header {
  @apply text-3xl font-bold text-primary mb-4;
}

.button-primary {
  @apply bg-primary text-white font-semibold py-2 px-4 rounded-lg shadow-md hover:bg-blue-600 transition duration-300;
}

.card {
  @apply bg-gray-800 p-4 rounded-lg shadow-lg;
  margin-bottom: 20px; /* Agrega espacio entre las tarjetas */
}

.card-header {
  @apply text-xl font-bold mb-2 text-primary; /* Cambia el color del texto */
}

.card-body {
  @apply text-gray-200;
}

.input-field {
  @apply w-full p-2 rounded-lg bg-gray-700 text-gray-100 border border-gray-600 focus:outline-none focus:ring-2 focus:ring-primary;
}
