/* Estilo para el botón */
#toggle-button img {
  width: 26px;
  height: 26px;
  filter: invert(0);
  cursor: pointer;
  position: fixed;
  top: 88%;
  left: 97%;
  z-index: 1;
}

#toggle-button img:focus {
  outline: none;
}

#toggle-button img:active {
  transform: scale(0.9);
}


/* Estilo para el footer */
.footer-navigation {
  background-color: #c79393;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 20px;
  width: calc(100% - 40px);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  z-index: 1;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Agregar sombra para mejorar la separación visual */
}

/* Estilo para ocultar elementos secundarios */
.footer-navigation.hidden {
  display: none;
}

/* Estilos para el menú */
.footer-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.footer-navigation li {
  margin-right: 10px;
}

.footer-navigation a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  font-size: 14px; /* Aumentar el tamaño de la fuente para una mejor legibilidad */
}

.footer-navigation img {
  width: 20px; /* Ajustar el tamaño de la imagen */
  height: 20px;
  margin-right: 5px;
}

/* Estilo para el enlace de donación Ethereum */
.wallet-address {
  position: fixed;
  bottom: 10px; /* Ajustar la distancia desde la parte inferior de la pantalla */
  left: 50%;
  transform: translateX(-50%);
  background-color: #dbbebe;
  padding: 10px 20px;
  border-radius: 20px;
  color: #fff;
  font-size: 16px; /* Aumentar el tamaño de la fuente */
  text-align: center;
  max-width: 600px; /* Reducir el ancho máximo para un diseño más equilibrado */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  z-index: 2;
  transition: background-color 0.3s ease;
}

.wallet-address:hover {
  background-color: #a98888;
}
