/* Reset de estilos y fuentes personalizadas */
html {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* Estilos del panel */
#panel {
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 800px;
  height: 40px;
  background-color: #f5f5f5;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: #333;
  border-radius: 13px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#panel-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 999;
}

/* Estilos de navegación */
#navigation {
  display: flex;
  align-items: center;
  overflow-x: auto;
}

#navigation a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #555;
  margin-right: 15px;
  transition: color 0.3s ease;
}

#navigation a img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  object-fit: cover;
}

.dark-mode #navigation a {
  color: #eee;
}

.dark-mode #navigation a:hover {
  color: #ffd700;
}

#navigation .dropdown {
  position: relative;
}

#navigation .dropdown .panel {
  position: absolute;
  top: calc(100% + 15px);
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  display: none;
  z-index: 999;
}

#navigation .dropdown:hover .panel {
  display: block;
}

/* Estilos del panel de subcategorías */
#subcategory-panel {
  display: none;
  position: absolute;
  top: 100%;
  left: 18% !important;
  transform: translateX(-50%);
  width: 90%;
  max-width: 200px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding: 15px;
  z-index: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

#subcategory-panel a {
  display: block;
  padding: 8px;
  color: #333;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#subcategory-panel a:hover {
  background-color: #f0f0f0;
  color: #000;
}


/* Estilos de botones */
button {
  padding: 8px 16px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(76, 175, 80, 0.3);
}

/* Estilos móviles generales */
@media only screen and (max-width: 782px) {
  html {
    font-size: 12px; /* Tamaño de fuente más pequeño para dispositivos móviles */
  }

  body {
    padding-bottom: 40px !important; /* Espacio en la parte inferior de la página */
  }


  #panel {
    width: 100%;
    max-width: none;
    padding: 0 10px;
    height: auto;
    min-height: 40px; /* Ajustar altura según el contenido */
  }

  #panel-toggle {
    top: 10px;
    right: 10px;
  }

  #navigation {
    /* flex-wrap: wrap; */ /* Permitir que los elementos se envuelvan en dispositivos móviles */
    justify-content: center; /* Centrar los elementos en dispositivos móviles */
  }

  #navigation a {
    margin: 5px;
    font-size: 12px; /* Tamaño de fuente más pequeño para dispositivos móviles */
  }

  #navigation a img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }

  #navigation .dropdown .panel {
    top: auto;
    left: auto;
    right: 0;
    transform: none;
  }

  #subcategory-panel {
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: none;
  }

  button {
    font-size: 14px; /* Tamaño de fuente más grande para mejorar la accesibilidad */
  }

  #reset-icon,
  #color-icon {
    width: 20px !important;
    height: 20px !important;
    margin-right: 5px;
  }

}

@media only screen and (max-width: 655px) {

  #navigation {
    flex-wrap: wrap;
    justify-content: center;
  }

  #navigation a {
    margin: 5px;
    font-size: 0; /* Establecer el tamaño de fuente a 0 para ocultar el texto */
  }

  #navigation a img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    display: inline-block; /* Mostrar solo los iconos */
  }

  #navigation .dropdown .panel {
    top: auto;
    left: auto;
    right: 0;
    transform: none;
  }

  #subcategory-panel {
    left: 50%; /* Colocar el borde izquierdo en el centro horizontal */
    transform: translateX(-50%); /* Mover hacia la izquierda en un 50% del ancho */
    width: 40%;
    max-width: none;
  }
  

  button {
    font-size: 14px; /* Tamaño de fuente más grande para mejorar la accesibilidad */
  }

  #reset-icon,
  #color-icon {
    width: 20px !important;
    height: 20px !important;
  }
  

}

@media only screen and (max-width: 314px) {

  #navigation {
    flex-wrap: wrap;
    justify-content: center;
  }

  #navigation a {
    margin: 5px;
    font-size: 0; /* Establecer el tamaño de fuente a 0 para ocultar el texto */
  }

  #navigation a img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    display: inline-block; /* Mostrar solo los iconos */
  }

  #navigation .dropdown .panel {
    top: auto;
    left: auto;
    right: 0;
    transform: none;
  }

  #subcategory-panel {
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    max-width: none;
  }

  #subcategory-panel img {
    width: 20px;
    height: 20px;
  }

  #subcategory-panel span {
    display: none; /* Ocultar cualquier texto dentro del panel de subcategorías */
  }

  button {
    font-size: 16px; /* Tamaño de fuente ajustado para los botones */
  }

}

@media only screen and (max-width: 370px) {

  #navigation {
    flex-wrap: wrap;
    justify-content: center;
  }

  #navigation a {
    margin: 5px;
    font-size: 0; /* Establecer el tamaño de fuente a 0 para ocultar el texto */
  }

  #navigation a img {
    width: 14px;
    height: 14px;
    margin-right: 5px;
    display: inline-block; /* Mostrar solo los iconos */
  }

  #navigation .dropdown .panel {
    top: auto;
    left: auto;
    right: 0;
    transform: none;
  }

  #subcategory-panel {
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    max-width: none;
  }

  #subcategory-panel img {
    width: 14px;
    height: 14px;
  }

  #subcategory-panel span {
    display: none; /* Ocultar cualquier texto dentro del panel de subcategorías */
  }

  button {
    font-size: 16px; /* Tamaño de fuente ajustado para los botones */
  }

  #reset-icon,
  #color-icon {
    width: 14px !important;
    height: 14px !important;
    margin-right: 5px;
  }

}
