#contenedorPerfil {
    width: 60px; /* Aumentamos el tamaño para darle más presencia */
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3); /* Sombra más definida */
    transition: all 0.3s ease; /* Transición uniforme para todas las propiedades */
    border: 2px solid #3498db; /* Borde sólido para destacar el contenedor */
}

#contenedorPerfil:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.5); /* Sombra más intensa al pasar el mouse */
    transform: rotate(-5deg) scale(1.1); /* Rotación sutil y aumento de tamaño al pasar el mouse */
}

#imagenPerfil {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    transition: opacity 0.3s ease, transform 0.3s ease; /* Añadimos transición para transform */
}

#contenedorPerfil:hover #imagenPerfil {
    opacity: 0.7; /* Ajustamos la opacidad para mayor transparencia */
    transform: rotate(5deg); /* Contrarrestamos la rotación del contenedor */
}

#primeraLetraContainer {
    width: 100%;
    height: 100%;
    font-size: 26px; /* Aumentamos el tamaño de la fuente */
    text-align: center;
    font-family: 'Dancing Script', cursive;
    line-height: 60px; /* Ajustamos el line-height al nuevo tamaño del contenedor */
    color: #ffffff;
    background-color: #3498db;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease, background-color 0.3s ease; /* Añadimos transición para el color de fondo */
}

#contenedorPerfil:hover #primeraLetraContainer {
    transform: translate(-50%, -50%) scale(1.2); /* Aumentamos más el tamaño al pasar el mouse */
    opacity: 1; /* Aumentamos la opacidad al pasar el mouse */
    background-color: #2980b9; /* Oscurecemos el fondo para resaltar la letra */
}



#botonSubirFoto {
    display: none; /* Oculta el botón de carga de archivo nativo */
}

.custom-file-upload {
    display: inline-block;
    cursor: pointer;
}

.icono-camera {
    width: 30px; /* Ajusta el ancho según sea necesario */
    height: 30px; /* Ajusta la altura según sea necesario */
}


/* Estilo para el botón personalizado de eliminar foto */
.custom-delete {
    display: inline-block;
    cursor: pointer;
}

/* Estilo para el icono de la papelera */
.icono-papelera {
    width: 30px; /* Ajusta el ancho según sea necesario */
    height: 30px; /* Ajusta la altura según sea necesario */
}

/* Estilo para el boton eliminar imagen*/
#botonEliminarFotoPerfil {
    display: none;
}



/* Estilo del modal de confirmación */
#confirmacionModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    font-family: 'Arial', sans-serif;
}

/* Estilo del contenido del modal */
#confirmacionModal .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px; /* Borde redondeado del modal */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Sutil sombra del modal */
}

/* Estilo del texto en el modal */
#confirmacionModal .modal-body {
    margin-bottom: 10px;

}

/* Estilo de los botones en el modal */
#confirmacionModal #confirmarEliminacionBtn,
#confirmacionModal .btn-secondary {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#confirmacionModal #confirmarEliminacionBtn {
    background-color: #d9534f; /* Color rojo para el botón de confirmar */
    color: #fff;
}

#confirmacionModal .btn-secondary {
    background-color: #5bc0de; /* Color azul para el botón de cancelar */
    color: #fff;
}

#confirmacionModal #confirmarEliminacionBtn:hover,
#confirmacionModal .btn-secondary:hover {
    opacity: 0.8; /* Reducir la opacidad al pasar el mouse (hover) */
}
