/* Estilos iniciales para ocultar los formularios */
.formulario {
    display: none;
}

/* Estilos iniciales para ocultar los formularios */
.formulario-datos,
.formulario-aurora {
    display: none;
}

/* Estilos generales de la ventana modal */
.modal-container,
.modal {
    display: none;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 2% auto 5%;
    padding: 20px;
    max-width: 800px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    position: relative;
    border-radius: 10px;
    
}

/* Estilos para el desenfoque en tono oscuro */
.modal::before {
    content: "";
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(8px);
}

/* Estilos para los botones de la ventana modal */
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; /* A침ade padding seg칰n tus preferencias */
    background-color: #f5f5f5; /* Ajusta el color de fondo seg칰n tus preferencias */
    border-bottom: 1px solid #ddd; /* A침ade un borde inferior seg칰n tus preferencias */
}

.modal-header button {
    cursor: pointer;
    background-color: #007BFF; /* Ajusta el color de fondo seg칰n tus preferencias */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px; /* Ajusta el padding seg칰n tus preferencias */
    margin: 0 5px; /* Ajusta el margen seg칰n tus preferencias */
}



/* Estilos para los campos y elementos dentro de la ventana modal */
.modal-content h2 {
    color: #333;
    margin-top: 20px;
}

.modal-content input,
.modal-content select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    padding: 12px;
    background-color: #af4c4c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #a04572;
}


#cancelModalButton {
    background-color: #6d6d6d;
}

#cancelModalButton:hover {
    background-color: #4e4e4e;
}


/* Agrega estos estilos para la notificaci칩n dentro de la ventana modal */
.notification {
    position: fixed;
    top: 9%;
    left: 60%;
    transform: translate(-50%, -50%);
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1001; /* Aseg칰rate de que la notificaci칩n est칠 por encima de la ventana modal */
    transition: opacity 0.3s ease-in-out;
    width: 200%; /* Ajusta el ancho */
    max-width: 400px;
}

.notification.hide {
    opacity: 0;
}




/* 游 OTROS ELEMENTOS 游*/

/* Estilos para el bot칩n "A침adir" y otros elementos seg칰n sea necesario */
#redesSocialesContainer {
    margin-top: 20px;
    text-align: center;
}

/* Ajuste de margen entre los botones Confirmar y Eliminar */
button.boton-confirmar,
button.boton-eliminar {
    margin-right: 10px;
}

button.boton-confirmar:hover {
    background-color: #45a049;
}

button.boton-eliminar:hover {
    background-color: #d32f2f;
}

/* A침ade estos estilos para centrar y alinear los elementos */
.red-social-container,
.botones-container,
.ubicacion-container,
.genero-container,
.telefono-container,
.fecha-nacimiento-container,
.profesion-intereses-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.botones-container span {
    margin-right: 10px;
}

/* A침ade estos estilos para los campos de ubicaci칩n */
.ubicacion-container select {
    width: auto;
    margin-right: 10px;
}

#locationCity, #locationCountry, #locationPlanet {
    width: 200px;
}

/* A침ade estos estilos para el campo de g칠nero */
.genero-container select {
    width: 80px;
}

/* A침ade estos estilos para el campo de tel칠fono */
.telefono-container select {
    width: 200px;
    margin-right: 10px;
}

#phone {
    width: calc(100% - 90px);
}


/* Estilos generales para textarea en los formularios */
.formulario-aurora textarea {
    width: 100%; /* Ocupa el 100% del ancho del contenedor */
    padding: 8px; /* Ajusta el espaciado interno seg칰n tus preferencias */
    box-sizing: border-box; /* Incluye el padding en el ancho total del textarea */
    resize: vertical; /* Permite la redimensi칩n vertical del textarea */
}

/* Estilos espec칤ficos para textarea en el formulario de la empresa */
#formularioEmpresaAurora textarea {
    min-height: 100px; /* Altura m칤nima del textarea */
    max-height: 200px; /* Altura m치xima del textarea */
}

/* Estilos espec칤ficos para textarea en el formulario de la marca */
#formularioMarcaAurora textarea {
    min-height: 100px; /* Altura m칤nima del textarea */
    max-height: 200px; /* Altura m치xima del textarea */
}





