body {
    font-family: 'Arial', sans-serif;
}

/* Estilos iniciales para ocultar los formularios */
.formulario {
    display: none;
    border: none;
}

/* Estilos iniciales para ocultar los formularios */
.formulario-datos,
.formulario-aurora {
    display: none;
    border: none;
}

/* Estilos generales de la ventana modal */
.modal-container,
.modal {
    display: none;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(30, 30, 30, 0.7);

}

.modal-content {
    background-color: #fff;
    margin: 2% auto 5%;
    padding: 20px;
    max-width: 80%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    position: relative;
    border-radius: 10px;
}


/* Estilos para el desenfoque en tono oscuro */
.modal::before {
    content: "";
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(8px);
}

/* Estilos para los botones de la ventana modal */
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; /* Añade padding según tus preferencias */
    margin: 0; /* Elimina los márgenes para un aspecto más ajustado */
}


.modal-header button {
    cursor: pointer;
    background-color: #ffc0cb; /* Hermoso color claro */
    color: #333; /* Color de texto */
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    margin: 0 5px;
    transition: background-color 0.3s; /* Efecto de transición suave */
}

/* Estilos para el botón activo */
.modal-header button.active {
    background-color: #ff66b2; /* Color activo más llamativo */
    color: #fff; /* Cambia el color de texto cuando está activo */
}

.modal-header button.active:hover {
    background-color: #ff3385; /* Cambia el color al pasar el mouse sobre el botón activo */
}

/* Media query para ajustar los botones en pantallas más pequeñas */

@media (max-width: 794px) {
    .modal-header {
        flex-direction: column;
        align-items: stretch;
    }

    .modal-header button {
        margin: 5px 0;
    }
}


@media (max-width: 634px) {
    .modal-header {
        flex-direction: column;
        align-items: stretch;
    }

    .modal-header button {
        margin: 5px 0;
    }
}


#saveProfileButton {
    top: 2%;
    left: 1%;
    margin-right: 10px;
}

#cancelModalButton {
    top: 2%;
    right: 1%;
    margin-right: 10px;
}






/* Estilos para los campos y elementos dentro de la ventana modal */
.modal-content h2 {
    color: #333;
    margin-top: 20px;
}

.modal-content input,
.modal-content select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    padding: 12px;
    background-color: #af4c4c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #a04572;
}



.notification {
    position: fixed;
    bottom: 50px;
    right: 60px;
    background-color: #000;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    z-index: 9999; /* Aumentamos el valor del z-index para asegurar la visibilidad */
    width: auto;
    max-width: 300px;
    white-space: normal; /* Permitir ajuste automático del texto */
    overflow-wrap: break-word; /* Permite ajuste automático del texto */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease-in-out;
}

.notification.hide {
    opacity: 0;
}



/* 🌟 OTROS ELEMENTOS 🌟*/

/* Estilos para los campos de nombre y apellido */
.campo-persona {
    margin-bottom: 15px; /* Espaciado entre campos */
}

.campo-persona label {
    display: block; /* Asegura que la etiqueta esté en una línea nueva */
    margin-bottom: 5px; /* Espaciado entre la etiqueta y el campo de entrada */
}

.campo-persona input {
    width: 100%; /* Ocupa el ancho completo del contenedor */
    padding: 8px; /* Añade relleno alrededor del campo de entrada */
    box-sizing: border-box; /* Incluye el padding en el ancho total */
}



/* Estilos para el campo de usuario */
.campo-usuario {
    margin-bottom: 15px; /* Espaciado entre campos */
}

.campo-usuario label {
    display: block; /* Asegura que la etiqueta esté en una línea nueva */
    margin-bottom: 5px; /* Espaciado entre la etiqueta y el campo de entrada */
}

.campo-usuario input {
    width: 50%; /* Ocupa el ancho completo del contenedor */
    padding: 8px; /* Añade relleno alrededor del campo de entrada */
    box-sizing: border-box; /* Incluye el padding en el ancho total */
}



/* Estilos para el botón "Añadir" y otros elementos según sea necesario */
#redesSocialesContainer {
    margin-top: 20px;
    text-align: center;
}

/* Ajuste de margen entre los botones Confirmar y Eliminar */
button.boton-confirmar,
button.boton-eliminar {
    margin-right: 10px;
}

button.boton-confirmar:hover {
    background-color: #45a049;
}

button.boton-eliminar:hover {
    background-color: #d32f2f;
}

/* Añade estos estilos para centrar y alinear los elementos */
.red-social-container,
.botones-container,
.ubicacion-container,
.genero-container,
.telefono-container,
.fecha-nacimiento-container,
.profesion-intereses-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    
}


/* Estilos para la fecha de nacimiento */
.fecha-genero-container {
    margin-bottom: 20px; /* Espacio entre los campos de fecha y género */
}

.fecha-nacimiento-container {
    display: flex;
    margin-bottom: 10px; /* Espacio entre los campos de fecha y género */
}

.fecha-nacimiento-container select {
    margin-right: 10px; /* Espacio entre los selectores de día, mes y año */
}

/* Estilos adicionales para mejorar la apariencia y la usabilidad */
.fecha-genero-container p {
    margin-bottom: 5px; /* Espacio entre los títulos (Fecha de Nacimiento y Género) y los selectores */
}

.fecha-genero-container strong {
    font-weight: bold; /* Texto en negrita para los títulos */
}



.botones-container span {
    margin-right: 10px;
}

/* Estilos para los campos de ubicación */
.ubicacion-container select {
    width: auto;
    margin-right: 10px;
}

#locationCity, #locationCountry, #locationPlanet {
    width: 200px;
    margin-right: 10px; /* Espacio adicional entre los campos de ubicación */
}


/* Añade estos estilos para el campo de género */
.genero-container select {
    width: 80px;
}

/* Añade estos estilos para el campo de teléfono */
.telefono-container select {
    width: calc(40% - 0px); /* Reduzco el ancho para dejar espacio al párrafo y resto el doble del margen derecho para compensar */
    padding: 10px; /* Añade relleno para mejorar la apariencia y la usabilidad */
    margin-right: 10px;
    margin-left: 10px;
    box-sizing: border-box; /* Incluye el relleno y el borde en el ancho total */
    border: 1px solid #ccc; /* Añade un borde para mejorar la visibilidad y la apariencia */
    border-radius: 5px; /* Agrega esquinas redondeadas para un aspecto más suave */
}


#phone {
    width: calc(100% - 90px);
}


/* Estilos generales para textarea en los formularios */
.formulario-aurora textarea {
    width: 100%; /* Ocupa el 100% del ancho del contenedor */
    padding: 8px; /* Ajusta el espaciado interno según tus preferencias */
    box-sizing: border-box; /* Incluye el padding en el ancho total del textarea */
    resize: vertical; /* Permite la redimensión vertical del textarea */
}

/* Estilos específicos para textarea en el formulario de la empresa */
#formularioEmpresaAurora textarea {
    min-height: 100px; /* Altura mínima del textarea */
    max-height: 200px; /* Altura máxima del textarea */
}

/* Estilos específicos para textarea en el formulario de la marca */
#formularioMarcaAurora textarea {
    min-height: 100px; /* Altura mínima del textarea */
    max-height: 200px; /* Altura máxima del textarea */
}





