body {
    font-family: 'Arial', sans-serif;
    font-size: 14px ; 
}

/* Estilos iniciales para ocultar los formularios */
.formulario,
.formulario-datos,
.formulario-aurora {
    border: none;
}


/* Estilos generales de la ventana modal */
.modal-container,
.modal {
    display: none;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(30, 30, 30, 0.7);
}

.modal-content {
    background-color: #fff;
    margin: 2% auto 5%;
    padding: 20px;
    max-width: 60%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    position: relative;
    border-radius: 10px;
}

/* Estilos para el desenfoque en tono oscuro */
.modal::before {
    content: "";
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(8px);
}

/* Estilos para los botones de la ventana modal */
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 0;
}

.modal-header button {
    cursor: pointer;
    background-color: #ffc0cb;
    color: #333;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    margin: 0 5px;
    transition: background-color 0.3s;
}

/* Estilos para el bot칩n activo */
.modal-header button.active {
    background-color: #ff66b2;
    color: #fff;
}

.modal-header button.active:hover {
    background-color: #ff3385;
}

/* Media query para ajustar los botones en pantallas m치s peque침as */
@media (max-width: 1052px) {
    .modal-header {
        flex-direction: column;
        align-items: stretch;
    }

    .modal-header button {
        margin: 5px 0;
    }
}

/* Media query para ajustar los botones en pantallas m치s peque침as */
@media (max-width: 794px) {
    .modal-header {
        flex-direction: column;
        align-items: stretch;
    }

    .modal-header button {
        margin: 5px 0;
    }
}

@media (max-width: 634px) {
    .modal-header {
        flex-direction: column;
        align-items: stretch;
    }

    .modal-header button {
        margin: 5px 0;
    }
}

#saveProfileButton,
#cancelModalButton {
    top: 2%;
    margin-right: 10px;
}

/* Estilos para los campos y elementos dentro de la ventana modal */
.modal-content h2 {
    color: #333;
    margin-top: 20px;
}

.modal-content input,
.modal-content select,
.formulario-aurora textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    resize: vertical; /* Permite redimensionar verticalmente el textarea si es necesario */
}

/* Estilo para botones modernos y atractivos */
button {
    padding: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* Efecto de color al pasar el cursor */
button:hover {
    background: #2980b9;
    color: #fff;
    transition: background 0.3s ease, color 0.3s ease;
}


.notification {
    position: fixed;
    bottom: 50px;
    right: 60px;
    background-color: #000;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    z-index: 9999;
    width: auto;
    max-width: 300px;
    white-space: normal;
    overflow-wrap: break-word;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease-in-out;
}

.notification.hide {
    opacity: 0;
}

/* 游 OTROS ELEMENTOS 游*/

/* Estilos para los campos de nombre y apellido */
.campo-persona,
.campo-usuario {
    margin-bottom: 15px;
}

.campo-persona label,
.campo-usuario label {
    display: block;
    margin-bottom: 5px;
}

.campo-persona input,
.campo-usuario input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

/* Estilos para el bot칩n "A침adir" y otros elementos seg칰n sea necesario */
#redesSocialesContainer {
    margin-top: 20px;
    text-align: center;
}


/* A침ade estos estilos para centrar y alinear los elementos */

.genero-container,
.telefono-container,
.fecha-nacimiento-container,
.profesion-intereses-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* Estilos para la fecha de nacimiento */
.fecha-genero-container,
.fecha-nacimiento-container {
    margin-bottom: 20px;
}

.fecha-nacimiento-container select {
    margin-right: 5px;
}

/* Estilos adicionales para mejorar la apariencia y la usabilidad */
.fecha-genero-container p {
    margin-bottom: 5px;
}

.fecha-genero-container strong {
    font-weight: bold;
}

.botones-container span {
    margin-right: 10px;
}

/* A침ade estos estilos para el campo de g칠nero */
.genero-container select {
    width: 80px;
}

/* A침ade estos estilos para el campo de tel칠fono */
.telefono-container select {
    width: calc(40% - 0px);
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#phone {
    width: calc(100% - 90px);
}

/* Estilos generales para textarea en los formularios */
.formulario-aurora textarea,
#formularioEmpresaAurora textarea,
#formularioMarcaAurora textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    resize: vertical;
}

/* Estilos espec칤ficos para textarea en el formulario de la empresa y la marca */
#formularioEmpresaAurora textarea,
#formularioMarcaAurora textarea {
    min-height: 100px;
    max-height: 200px;
}

/* Estilo para el formulario */
#formularioRedes {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para los elementos de la lista de redes sociales */
#listaRedes p {
    margin: 10px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

/* Estilo para la imagen del icono */
#listaRedes img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

/* Estilo para el bot칩n de eliminar */
#listaRedes button {
    margin-left: auto;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#listaRedes button:hover {
    background-color: #c0392b;
}

/* Estilo para la notificaci칩n */
#notificacion {
    display: none;
    padding: 10px;
    background-color: #e74c3c;
    color: #fff;
    border-radius: 5px;
    margin-top: 10px;
}

/* Efecto de transici칩n para la notificaci칩n */
#notificacion.show {
    display: block;
    animation: fadeInOut 3s ease-out;
}

@keyframes fadeInOut {
    0%, 100% { opacity: 0; }
    10%, 90% { opacity: 1; }
}


#centrador {
    text-align: right;
}

#contenedor {
    display: inline-block;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;  /* Agrega un margen derecho */
}


body {
    margin: 0;
    padding: 0;
}

.section-usuario,
.section-datos-persona,
.section-datos-empresa,
.section-aurora-persona,
.section-aurora-empresa,
.section-contacto,
.section-ubicacion,
.section-crypto,
.section-redes-sociales {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.section-usuario:hover,
.section-datos-persona:hover,
.section-datos-empresa:hover,
.section-aurora-persona:hover,
.section-aurora-empresa:hover,
.section-contacto:hover,
.section-ubicacion:hover,
.section-crypto:hover,
.section-redes-sociales:hover {
    transform: scale(1.05);
    background-color: rgb(154, 255, 238); /* Azul brillante */
}


.section-title {
    color: #2c3e50;
    font-size: 12px;
    margin-bottom: 15px;
}


/* Estilo para ubicar los elementos <span> en l칤nea */
p span {
    display: inline;
  }
  
  /* Estilo para el t칤tulo h3 */
  h3 {
    font-size: 12px; /* Tama침o de fuente de 12px */
  }
  


/* Estilo para el contenedor del texto de ubicaci칩n */
.location-container {
    margin-top: 20px; /* Espacio superior */
    display: flex; /* Utilizar flexbox para alinear elementos */
    align-items: center; /* Alinear verticalmente los elementos */
}

.location-icon img {
    width: 20px; /* Ancho del SVG */
    height: 20px; /* Alto del SVG */
    margin-right: 5px; /* Espacio a la derecha del icono */
}

/* Estilo para el texto de ubicaci칩n */
.location-text {
    font-size: 16px; /* Tama침o de fuente */
}



/* Estilos espec칤ficos para dispositivos m칩viles */

@media only screen and (max-width: 600px) {
    .modal-content {
        margin: 5% auto;
        max-width: 100%;
        position: absolute;
    }

    
    #contenedor {
        padding: 8px; 
    }

    .section-usuario,
    .section-datos-persona,
    .section-datos-empresa,
    .section-aurora-persona,
    .section-aurora-empresa,
    .section-contacto,
    .section-ubicacion,
    .section-crypto,
    .section-redes-sociales {
        margin: 8px auto; /* Reduce el margen */
        padding: 10px; /* Reduce el relleno */
    }

    .section-title {
        font-size: 12px; /* Reduce el tama침o de fuente */
        margin-bottom: 8px; /* Reduce el margen inferior */
    }

    #saveProfileButton,
    #cancelModalButton {
    top: 2%;
    margin-right: 10px;
    margin-bottom: 5px;
    }


}