/* Grupo 1 */
#fullName,
#alias,
#userEmail,
#phone {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    position: relative;
    left: 5%; /* Mover a la derecha */
    top: 2%; /* Mover hacia abajo */
    margin-left: 0%; /* Ajustar margen hacia la derecha */
    margin-top: 1%; /* Ajustar margen hacia arriba */
}

/* Grupo 2 */
#locationCity,
#locationCountry,
#locationPlanet {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    position: relative;
    left: 5%; /* Mover a la derecha */
    top: 2%; /* Mover hacia abajo */
    margin-left: 0%; /* Ajustar margen hacia la derecha */
    margin-top: 1%; /* Ajustar margen hacia arriba */
}


/* Grupo 3 */
#bio,
#edad,
#profesion,
#intereses {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    position: relative;
    left: 5%; /* Mover a la derecha */
    top: 2%; /* Mover hacia abajo */
    margin-left: 0%; /* Ajustar margen hacia la derecha */
    margin-top: 1%; /* Ajustar margen hacia arriba */
}

/* Grupo 4 */
#facebook,
#instagram,
#youtube,
#twitter,
#linkedin,
#wechat,
#tiktok,
#vk {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    position: relative;
    left: 5%; /* Mover a la derecha */
    top: 2%; /* Mover hacia abajo */
    margin-left: 0%; /* Ajustar margen hacia la derecha */
    margin-top: 1%; /* Ajustar margen hacia arriba */
}

/* Grupo 5 */
#userCryptoWalletAddress {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    position: relative;
    left: 5%; /* Mover a la derecha */
    top: 2%; /* Mover hacia abajo */
    margin-left: 0%; /* Ajustar margen hacia la derecha */
    margin-top: 1%; /* Ajustar margen hacia arriba */
}

/* Grupo 6 */
#userUid,
#fechaCreacion,
#ultimaVezAcceso {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    position: relative;
    left: 5%; /* Mover a la derecha */
    top: 2%; /* Mover hacia abajo */
    margin-left: 0%; /* Ajustar margen hacia la derecha */
    margin-top: 1%; /* Ajustar margen hacia arriba */
}

/* Grupo 7 */
#userEmail {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    position: relative;
    left: 5%; /* Mover a la derecha */
    top: 2%; /* Mover hacia abajo */
    margin-left: 0%; /* Ajustar margen hacia la derecha */
    margin-top: 1%; /* Ajustar margen hacia arriba */
}


