/* Estilos generales */
body {
    overflow-y: hidden; /* Ocultar barra de desplazamiento vertical */
  }
  
  /* Estilos para el contenedor del registro */
  .register-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif; /* Cambié la fuente a 'Roboto' */
    position: relative;
    z-index: 1;
    overflow: hidden;
    background: linear-gradient(135deg, #00bcd4, #004080, #8e44ad);
    animation: changeGradient 15s linear infinite;
  }
  
  @keyframes changeGradient {
    0%, 100% {
      background: linear-gradient(135deg, #00bcd4, #004080, #8e44ad);
    }
    25%, 50% {
      background: linear-gradient(135deg, #3498db, #2c3e50, #e74c3c);
    }
    75% {
      background: linear-gradient(135deg, #3498db, #a9cce3, #f5b7b1);
  
    }
  }

  
.verification-container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .verification-title {
    color: #333;
  }
  