#ticker-container {
    background: linear-gradient(to right, #f7d076, #a9e4b4, #7cc9e0); /* Cambia los colores según tu preferencia */
    color: #000000; /* Cambia el color del texto según tu preferencia */
    padding: 7px 0px 7px 1.5%;
    text-align: center;
    font-size: 12px; /* Ajusta el tamaño de fuente según desees */
    font-weight: 600;
    font-style: bold;
    white-space: nowrap; /* Evita el salto de línea */
    overflow: hidden;
    position: relative; /* Permite un desplazamiento continuo */
    font-family: Consolas, monospace; /* Aplica la fuente "Consolas" a los números */
    border: 0px solid black; /* Elimina el borde sólido anterior */
    border-top-left-radius: 10px; /* Borde redondeado superior izquierdo */
    border-top-right-radius: 10px; /* Borde redondeado superior derecho */
    border-bottom-left-radius: 10px; /* Borde redondeado inferior izquierdo */
    border-bottom-right-radius: 10px; /* Borde redondeado inferior derecho */
}


#ticker li {
    position: relative; /* Permite aplicar la animación individualmente */
    display: flex; /* Alineación vertical de iconos y texto */
    align-items: center; /* Alinea verticalmente los elementos en el contenedor */
}

#ticker a {
    text-decoration: none;
    color: #fff; /* Cambia el color del enlace según tu preferencia */
    font-family: Arial, sans-serif; /* Aplica la fuente "Arial" a las letras */
    font-size: 12px; /* Ajusta el tamaño de fuente a 12px para las letras */
    font-weight: bold; /* Aplica negrilla */
    margin: 0 10px; /* Agrega espacio entre la fuente y los iconos (10px en ambos lados) */
}

#ticker a:hover {
    color: #00bcd4; /* Cambia el color del enlace al pasar el mouse */
}

/* Estilo para el porcentaje en verde (sobrecompra) */
.up-percent {
    color: #4CAF50; /* Color verde para el texto */
    background-color: rgb(74, 205, 165);
    border-radius: 2px;
    padding: 0px 5px;
    -webkit-text-fill-color: #000000;
}

/* Estilos para el porcentaje en rojo (sobreventa) */
.down-percent {
    color: #F44336; /* Color rojo para el texto */
    background-color: rgb(244, 91, 105);
    border-radius: 2px;
    padding: 0px 5px;
    -webkit-text-fill-color: #000000;
}


/* Ajusta el tamaño de los iconos PNG */
#ticker img {
    max-width: 22px; /* Ajusta el tamaño máximo de los iconos a 22px */
    max-height: 22px; /* Ajusta la altura máxima de los iconos a 22px */
    margin: 0 10px; /* Agrega espacio entre los iconos y la fuente (5px en ambos lados) */
}

/* Animación de desplazamiento horizontal con efecto de desvanecimiento */
@keyframes ticker {
    0% {
        transform: translateX(-300%);
      
    }
    100% {
        transform: translateX(100%);
    
    }
}


#ticker {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    /* Animación de desplazamiento horizontal */
    animation: ticker 60s linear infinite; /* Ajusta la duración y la repetición */
}



/* Asegura que la última moneda tenga suficiente espacio para salir por completo */
#ticker li:last-child {
    margin-right: 200px; /* Aumenta el espacio para la última moneda */
}
