/* Estilo para el fondo */
body {
    background: linear-gradient(135deg, #00bcd4, #004080, #8e44ad);
    margin: 0;
    font-family: 'Arial', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    animation: changeGradient 15s linear infinite;
}

@keyframes changeGradient {
    0%, 100% {
        background: linear-gradient(135deg, #00bcd4, #004080, #8e44ad);
    }
    25%, 50% {
        background: linear-gradient(135deg, #3498db, #2c3e50, #e74c3c);
    }
    75% {
        background: linear-gradient(135deg, #27ae60, #2ecc71, #f39c12);
    }
}

/* Estilos del contenedor */
.contenedor {
    position: relative;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 20px;
}

/* Estilos del contenido */
.contenido {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

h1, h2, h3 {
    color: #333;
}

.button-container {
    display: inline-block; /* Alinea el contenedor de manera que se ajuste al tamaño del botón */
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

button:disabled {
    opacity: 0.7; /* Cambia la opacidad cuando está deshabilitado */
    cursor: not-allowed; /* Cambia el cursor cuando está deshabilitado */
}


/* Estilo para los campos del formulario */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilo para los pasos */
[id^="paso"] {
    margin-bottom: 20px;
}

/* Estilo específico para el contenedor de datos del formulario */
#formularioDatosContainer {
    margin-top: 15px;
}

/* Estilo específico para el contenedor de datos del formulario */
.formulario-datos {
    display: none;
}

/* Estilo para el paso final */
#paso5 p {
    margin-bottom: 15px;
}

#paso5 button {
    background-color: #008CBA;
}

#paso5 button:hover {
    background-color: #005F7F;
}


/* Estilos para dispositivos móviles */

/* Media query para pantallas pequeñas */
@media only screen and (max-width: 490px) {
    .contenedor {
        width: 100%; /* Ocupa todo el ancho de la pantalla */
        border-radius: 0; /* Sin bordes redondeados */
    }

    .campo-usuario input,
    #tipoFormulario,
    .campo-persona input,
    .fecha-nacimiento-container select {
        width: 100%; /* Hacer que los campos de entrada ocupen todo el ancho */
        max-width: none; /* Eliminar el ancho máximo */
    }

    /* Otros ajustes según sea necesario */
}

/* Media query para pantallas muy pequeñas */
@media only screen and (max-width: 480px) {
    .contenedor {
        padding: 10px; /* Ajusta el espaciado interno para pantallas muy pequeñas */
    }

    .campo-usuario input,
    #tipoFormulario,
    .campo-persona input,
    .fecha-nacimiento-container select {
        width: 100%; /* Hacer que los campos de entrada ocupen todo el ancho */
        max-width: none; /* Eliminar el ancho máximo */
    }

    /* Otros ajustes según sea necesario */
}

/* Media query para pantallas extremadamente pequeñas */
@media only screen and (max-width: 320px) {
    /* Ajustes específicos para pantallas extremadamente pequeñas */

    body {
        font-size: 14px; /* Reduce el tamaño de la fuente para una mejor legibilidad */
    }

    /* Otros ajustes según sea necesario */
}




/* ♥♥Estilos específicos ♥♥ */

/* Estilo para centrar horizontalmente el campo de usuario */
.campo-usuario {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.campo-usuario label {
    margin-bottom: 5px;
    font-weight: bold;
}

.campo-usuario input {
    width: 55%;
    max-width: 300px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 auto;
}

/* Estilo para el label y select de Tipo de cuenta */
label[for="tipoFormulario"] {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

#tipoFormulario {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

/* Estilo para los campos de persona */
.campo-persona {
    margin-bottom: 20px;
    text-align: center;
}

.campo-persona label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.campo-persona input {
    width: 80%;
    max-width: 300px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 0 auto;
}

/* Estilo para el contenedor de fecha de nacimiento */
.fecha-nacimiento-container {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-bottom: 20px;
}

/* Estilo para los selectores de fecha */
.fecha-nacimiento-container select {
    width: 30%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
}

#mensajeUsuario {
    font-size: 12px; /* Ajusta el tamaño de la fuente según tu preferencia */
    font-family: 'Arial', sans-serif; /* Puedes cambiar la fuente según tus preferencias */
    color: #555; /* Color del texto */
    /* Agrega otros estilos según tus preferencias, como márgenes, espaciado, etc. */
}
