/* Estilos generales para el artículo */
article {
    margin-bottom: 20px;
  }
  
  /* Estilos para las secciones del artículo */
  article section {
    margin-bottom: 10px;
  }
  
  /* Estilos para los títulos de las secciones */
  article section h1 {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 5px;
  }

  /* Estilos para los títulos de las secciones */
  article section h2 {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  /* Estilos para los párrafos del artículo */
  article p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 5px;
  }
  
  /* Estilos para las listas del artículo */
  article ul {
    list-style-type: disc;
    margin-bottom: 5px;
    padding-left: 20px;
  }
  
  /* Estilos para los elementos de lista del artículo */
  article li {
    margin-bottom: 5px;
  }
  
  /* Estilos para el elemento de timestamp */
  #article-timestamp {
    font-size: 0.8rem;
    font-style: italic;
    color: #888;
    margin-bottom: 5px;
    text-align: right;
    padding: 0.5%;
  }

  /* Estilos para el elemento de timestamp */
  #fecha {
    font-size: 0.8rem;
    font-style: italic;
    color: #888;
    margin-bottom: 5px;
    text-align: right;
  }
  

/* Estilos para el contenido del autor (ajusta según tus necesidades) */
#autor {
  display: block;
  font-size: 0.8rem;
  font-weight: bold;
  color: #888;
  margin-top: -10px; /* Ajusta el margen superior negativamente para subir el contenido */
  text-align: left;
}


/* AQUI COLORES DE LA CATEGORIA */ 

/* Estilo predeterminado para elementos con la clase "categoria" */
.categoria {
  color: #000; /* Color de texto predeterminado (negro) */
  font-weight: bold; /* Negrilla */
}


  
/* Estilos para el contenedor de papel antiguo */
.papel-antiguo {
    background-color: #f7f2e7;
    padding: 20px;
    border: 1px solid #e0d2a7;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 960px;
    margin: 80px 50px 20px 40px; /* Margen superior de 20px, margen derecho de 50px, margen inferior de 20px y sin margen izquierdo */
    float: left; /* Flotar a la izquierda */
    margin-bottom: 100px; /* Margen inferior adicional para permitir desplazamiento hacia abajo */
  }

  
/* Estilos específicos para dispositivos móviles */
  @media screen and (max-width: 768px) {
  .papel-antiguo {
  max-width: 100%; /* Ajustar el ancho máximo al 100% */
  margin: 20px; /* Redefinir los márgenes para dispositivos móviles */
  float: none; /* Desactivar el flotado */
  position: relative; /* Cambiar a posicionamiento relativo */
  top: 340px; /* Mover el contenedor 20 píxeles hacia abajo */ 
}
  
  /* Estilos para dispositivos con ancho de pantalla de hasta 1180px */
  @media screen and (max-width: 1180px) {

    .papel-antiguo {
    max-width: 100%; /* Ajustar el ancho máximo al 100% */
    margin: 20px; /* Redefinir los márgenes para dispositivos móviles */
    float: none; /* Desactivar el flotado */
    position: relative; /* Cambiar a posicionamiento relativo */
    top: 340px; /* Mover el contenedor 20 píxeles hacia abajo */ 
  }
}
}